[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "VBoxManage-completion"]
	path = VBoxManage-completion
	url = https://github.com/alexandregz/VBoxManage-completion
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "fzf_browser"]
	path = fzf_browser
	url = https://github.com/ggVGc/fzf_browser
[submodule "mintty-colors-solarized"]
	path = mintty-colors-solarized
	url = https://github.com/mavnn/mintty-colors-solarized
[submodule "googler"]
	path = googler
	url = https://github.com/jarun/googler/
