[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "vimpager"]
	path = vimpager
	url = https://github.com/rkitover/vimpager.git
[submodule "VBoxManage-completion"]
	path = VBoxManage-completion
	url = https://github.com/alexandregz/VBoxManage-completion
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
