load alias
alias -c *

alias h help
alias j jobs -l -x
alias rr resource /home/dsf/.dotfiles/msfc.rc
alias sa show advanced
alias se sess
alias sr search
alias sl sessions -l -x
alias so show options
alias r resource
alias u use
# alias -f elevate 'execute -i -c -f /data/local/tmp/x'

set PROMPT "%bld[%clr%grnmsf%clr: j:%J s:%S%bld]"
