AddKeysToAgent confirm
ForwardX11Timeout 1s
# TODO: figure out how to setup ssh to only use the specified identity but accept this identity from the agent
IdentitiesOnly yes
IdentityFile ~/.ssh/hosts/%h/%r.key
ControlMaster auto
ControlPath ~/.ssh/master-%n-%p-%r
ControlPersist 4h
PermitLocalCommand false
RemoteForward 22222 localhost:22
# TODO: try to figure out if calling sshfs LocalCommand constitutes some kind of race condition or other bad idea
# LocalCommand logger -ist ssh -- Automounting sshfs from %u@%l to %r@%h ; sshfs -p %p %d:/ %d/mnt/%n-root ; sshfs -o LogLevel=DEBUG -p %p %d: %d/mnt/%n

# EscapeChar ^^
Include ~/.ssh/config.local
HashKnownHosts yes
UserKnownHostsFile ~/.ssh/known_hosts ~/.ssh/known_hosts_common
