AddKeysToAgent confirm
ForwardX11Timeout 1s
# TODO: figure out how to setup ssh to only use the specified identity but
# accept this identity from the agent
# IdentitiesOnly yes
IdentityFile ~/.ssh/hosts/%h/%r.key
ControlMaster auto
ControlPath ~/.ssh/hosts/%h/control_master-%p-%r
ControlPersist 4h

# EscapeChar ^^
Include ~/.ssh/config.local

